{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/SymfBlogCore.css') }}">
{% endblock %}

{% block body %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                {% include '@App/App/navigation.html.twig' with {'activePage' : 'Home'}  %}

                <div class="inner cover">

                    <div class="row">
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>Recently Published Blogs</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="well">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Blog Name:</th>
                                                    <th class="text-center">Date Created:</th>
                                                    <th class="text-center">Author:</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for blog in blogs %}
                                                <tr>
                                                    <td>
                                                        <a href="">
                                                            {{ blog.name }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{ blog.lastUpdatedDate | date('m/d/Y') }}
                                                        @
                                                        {{ blog.lastUpdatedDate | date('h:m') }}
                                                    </td>
                                                    <td>
                                                        <a href="">
                                                            {{ blog.username }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2>New Authors</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="well">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Author Username:</th>
                                                <th class="text-center">Last login:</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for author in authors %}
                                                <tr>
                                                    <td>
                                                        <a href="">
                                                            {{ author.username }}
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {{ author.lastLogin | date('m/d/Y') }}
                                                        @
                                                        {{ author.lastLogin | date('h:m') }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}