{% block app_navigation %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">
                <a href="{{ path('app_homepage') }}">
                    SymfBlog
                </a>
            </h3>
            <nav>
                <ul class="nav masthead-nav">
                    {% if activePage == "Home" %}
                        <li class="active"><a href="{{ path('app_homepage') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    {% else %}
                        <li><a href="{{ path('app_homepage') }}">Home</a></li>
                    {% endif %}

                    {% if activePage == "About" %}
                        <li class="active"><a href="{{ path('app_about') }}"></span> About</a></li>
                    {% else %}
                        <li><a href="{{ path('app_about') }}">About</a></li>
                    {% endif %}

                    {% if app.user is null %}
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    {% endif %}

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">{{ app.user }}'s Profile</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
{% endblock %}