{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        {{ include('@FOSUser/Profile/Includes/action_menu.html.twig') }}
        <div class="form-container well col-md-9 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>Change Your Password:</h1>
                    <div class="form-container well col-md-9 col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form action="{{ path('fos_user_change_password') }}" method="post">
                                    {{ form_start(form) }}
                                    <div class="form-group">
                                        <lable>Current Password</lable>
                                        {{ form_widget(form.current_password, { 'attr': {'class': 'form-control' } }) }}
                                        {{ form_errors(form.current_password) }}
                                    </div>

                                    <div class="form-group">
                                        <lable>New Password</lable>

                                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control' } }) }}
                                        {{ form_errors(form.plainPassword.first) }}
                                    </div>

                                    <div class="form-group">
                                        <lable>Confirm New Password</lable>
                                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.plainPassword.second) }}
                                    </div>

                                    <div>
                                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
                                    </div>
                                    {{ form_end(form) }}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
