<div class="container">
    <div class="well">
        <h1>{{ app.user }}'s Blogs</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <p>
                        <a class="btn btn-lg btn-primary btn-block" href="{{ path('fos_user_profile_show') }}"><i class="glyphicon glyphicon-arrow-left"></i> Back to Profile</a>
                    </p>
                </div>
                <div class="col-md-3 col-md-offset-6">
                    <p>
                        <a class="btn btn-lg btn-success btn-block" href="{{ path('blog_front_end_create') }}"><i class="glyphicon glyphicon-plus"></i> Create a Blog</a>
                    </p>
                </div>
            </div>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Blog Name:</th>
                        <th class="text-center">Blog Description</th>
                        <th class="text-center">Is Published:</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if blogs is defined and blogs is not empty %}
                        {% for blog in blogs %}
                            <tr>
                                <td>{{ blog.name }}</td>
                                <td>{{ blog.description }}</td>
                                <td>
                                    {% if blog.isPublished == "1" %}
                                        <span class="label label-success">
                                            <i class="glyphicon glyphicon-check"></i>
                                            Published
                                        </span>
                                    {% else %}
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                            <strong>Not</strong>Published
                                        </span>
                                    {% endif %}
                                </td>
                                <td>

                                    <a href="{{ path('blog_front_end_read',{'blogId': blog.id})}}"><i class="glyphicon glyphicon-eye-open"></i> View</a> |
                                    <a href="{{ path('blog_front_end_modify',{'blogId': blog.id})}}"><i class="glyphicon glyphicon-pencil"></i> Edit</a> |
                                    <a href="{{ path('blog_front_end_delete',{'blogId': blog.id})}}"><i class="glyphicon glyphicon-trash"></i> Delete</a> |

                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">
                                <span class="label label-warning">
                                    User <strong>Does not</strong> have any blogs!
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>